body {
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body {
    background: #4CA1AF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C4E0E5, #4CA1AF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C4E0E5, #4CA1AF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: black;
}

table tr {
    text-align: center;
}

.form-group input {
    padding-left: 54px;
    border-radius: 5px;
}

.fa-user,
.fa-envelope {
    position: absolute;
    left: 35px;
    font-size: 25px;
    padding-top: 5px;
    opacity: 45%;
}

.checkboxes label {
    display: inline-block;
    padding-right: 15px;
    white-space: pre-line;
    position: relative;
    bottom: .08em;
}

.checkboxes input {
    vertical-align: middle;
}

.checkboxes label span {
    vertical-align: middle;
}

.container {
    padding-top: 25px;
}