{% extends "layout.html" %}

{% block content_nav %}
        <a class="nav-brand" href="/"><i class="fas fa-arrow-left"></i></a>
{% endblock content_nav %}

{% block content %}
<div class="col-md-4 offset-md-4">
        <div class="card card-body">
                <p class="text-center"><b>Datos del Alumno</b></p>
                <form class="text-center">
                        <div class="form-group">
                                <i class="fas fa-info-circle"></i>
                                <input value={{people['id']}} class="form-control" disabled>
                        </div>
                        <div class="form-group">
                                <i class="fas fa-user"></i>
                                <input value={{people['first_name']}} class="form-control" disabled>
                        </div>
                        <div class="form-group">
                                <i class="fas fa-user"></i>
                                <input value={{people['last_name']}} class="form-control" disabled>
                        </div>
                        <div class="form-group">
                                <i class="fas fa-clock"></i>
                                <input value={{people['created_at']}} class="form-control" disabled>
                        </div>
                        <div class="form-group">
                                <i class="fas fa-envelope"></i>
                                <input value={{people['email']}} class="form-control" disabled>
                        </div>
                        <div class="form-group">
                                <i class="fas fa-flag-usa"></i>
                                <input value={{course['id']}} class="form-control" disabled>
                        </div>
                        <br>
                        <div class="form-group-btn text-center">
                                <a href="/edit/{{people['id']}}" class="btn btn-info btn-edit">Editar</a>
                                <a href="/delete/{{people['id']}}" class="btn btn-danger btn-delete">Eliminar</a>
                                <div>
                </form>
        </div>
</div>
{% endblock content %}
<br><br>