{% extends "layout.html" %}

{% block content %}
<H2 class="text-center">Editar un Alumno</H2><br>

<div class="col-md-4 offset-md-4">
        <div class="card card-body">
                <form action="/update/{{people['id']}}" method="POST" class="text-center">
                        <div class="form-group">
                                <input type="text" name="first_name" placeholder="Nombre" value={{people['first_name']}}
                                        class="form-control">
                        </div>
                        <div class="form-group">
                                <input type="text" name="last_name" placeholder="Apellido" value={{people['last_name']}}
                                        class="form-control">
                        </div>
                        <div class="form-group">
                                <input type="text" name="email" placeholder="email" value={{people['email']}}
                                        class="form-control">
                        </div>

                        <div class="form-group">
                                <input type="checkbox" name="course" value={{courses[0]['id']}}>{{courses[0]['name']}}
                                <input type="checkbox" name="course" value={{courses[1]['id']}}>{{courses[1]['name']}}
                                <input type="checkbox" name="course" value={{courses[2]['id']}}>{{courses[2]['name']}}
                        </div>

                        <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block">Editar</button>
                        </div>
                </form>
        </div>
</div>
<br>
<br>
<br>
<br>
{% endblock content %}