{% extends "layout.html" %}

{% block content %}

<H2 class="text-center">Ingrese un nuevo Alumno</H2><br>
<form action="/" method="POST" class="text-center">
        <input type="text" name="first_name" placeholder="Nombre">
        <input type="text" name="last_name" placeholder="Apellido">
        <input type="text" name="email" placeholder="Email">
        <br>

        <!--
        {% for course in courses %}
        <input type="checkbox" name="course|join({{loop.index}}+1|string)" value={{course['id']}}>{{course['name']}}
        {% endfor %}
        -->

        <input type="checkbox" name="course" value={{courses[0]['id']}}>{{courses[0]['name']}}
        <input type="checkbox" name="course" value={{courses[1]['id']}}>{{courses[1]['name']}}
        <input type="checkbox" name="course" value={{courses[2]['id']}}>{{courses[2]['name']}}

        <br>
        <button type="submit">Guardar</button>
</form>

<br>

<div class="container">
        <H2 class="text-center">Alumnos</H2>
        <br>
        <div class="table-responsive">
                <table class="table table-hover table-bordered table table-striped table-dark">
                        <thead>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Email</td>
                                <td> </td>
                        </thead>
                        <tbody>
                                {% for people in peoples %}
                                <tr>
                                        <td>{{people['first_name']}}</td>
                                        <td>{{people['last_name']}}</td>
                                        <td><B>{{people['email']}}</B></td>
                                        <td>
                                                <a href="/edit/{{people['id']}}">Editar</a>
                                                <a href="/delete/{{people['id']}}">Eliminar</a>
                                        </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </div>
</div>
{% endblock content %}