{% extends "layout.html" %}

{% block content %}
<div>
        <div class="col-md-4 offset-md-4">
                <div class="card card-body">
                        <p class="text-center"><b>Ingresar Alumno</b></p>
                        <form action="/" method="POST" class="text-center">
                                <div class="form-group">
                                        <i class="fas fa-user"></i>
                                        <input type="text" name="first_name" placeholder="Nombre" class="form-control"
                                                required>
                                </div>
                                <div class="form-group">
                                        <i class="fas fa-user"></i>
                                        <input type="text" name="last_name" placeholder="Apellido" class="form-control"
                                                required>
                                </div>
                                <div class="form-group">
                                        <i class="fas fa-envelope"></i>
                                        <input type="text" name="email" placeholder="Email" class="form-control"
                                                required>
                                </div>

                                <p><b>Seleccionar Curso</b></p>
                                <div>
                                        <div class="checkboxes">
                                                <label for="x"><input type="checkbox" name="course"
                                                        value={{courses[0]['id']}} id="x" required><span> {{courses[0]['name']}}</span></label>
                                                <label for="y"><input type="checkbox" name="course"
                                                        value={{courses[1]['id']}} id="y" required><span> {{courses[1]['name']}}</span></label>
                                                <label for="z"><input type="checkbox" name="course"
                                                        value={{courses[2]['id']}} id="z" required><span> {{courses[2]['name']}}</span></label>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                                </div>
                                {% with messages = get_flashed_messages()  %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                        </form>
                </div>
        </div>

        <div class="container">
                <label class="control-label col-sm-12 text-right"><b>Cantidad de inscriptos: {{len_peoples}}</b></label>

                <form role="form">
                        <form class="form-inline">
                                <div class="form-group">
                                        <i class="fas fa-search"></i>
                                        <input class="form-control" id="myInput" placeholder="Buscar Alumno">
                                </div>
                        </form>
                </form>

                <div class="table-responsive">
                        <table class="table table-hover table-bordered table table-striped table-dark">
                                <thead>
                                        <td><b>Nombre</b></td>
                                        <td><b>Apellido</b></td>
                                        <td><b>Email</b></td>
                                        <td> </td>
                                </thead>
                                <tbody id="myTable">
                                        {% for people in peoples %}
                                        <tr>
                                                <td>{{people['first_name']}}</td>
                                                <td>{{people['last_name']}}</td>
                                                <td>{{people['email']}}</td>
                                                <td>
                                                        <div class="form-group-btn text-center">
                                                                <a href="/edit/{{people['id']}}"
                                                                        class="btn btn-info btn-edit">Editar</a>
                                                                <a href="/delete/{{people['id']}}"
                                                                        class="btn btn-danger btn-delete">Eliminar</a>
                                                                <div>
                                                </td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                </div>
        </div>
</div>
{% endblock content %}